body {
    background: #fff;
    font: 300 1em "Fira Sans", sans-serif;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    display: flex;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.buy {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    padding: 10px;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 30px;
}

.pick {
    transition: .4s;
    transform: translateX(0);
    cursor: grab;
}

.pick:hover {
    transform: translateY(-4rem);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(101, 255, 255, 0.6);
    border-radius: 40px;
    padding: 20px;
}

.buy .pick img{
    width: 219px;
    height: 130px;
    border-radius: 80px;
    padding: 10px;
}

.buy .pick img:hover{
    width: 419px;
    height: 330px;
}


